{
  "presets": [
    ["@babel/preset-env", { "targets": "last 2 Chrome versions" }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
