{
  "presets": [
    "react",
    "stage-2"
  ],
  "env": {
    "production": {
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
