node_modules/*
.DS_Store
.env
.env.staging
.env.production
Desktop.ini
Thumbs.db
*.log
.idea/
compiled/*
dist/*
.cache
secrets
compiled-mobile
compiled-cloud
electron/*
!electron/.gitkeep
report*.json

.now
.vercel
